 
 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-dark sidebar sidebar-dark accordion" id="accordionSidebar">

	<!-- Sidebar - Brand -->
	<a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index2.html">
		<div class="sidebar-brand-icon rotate-n-15">
			<i class="fas fa-laugh-wink"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Solana Pay </div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0">

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="index.html">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a>
	</li>
	<li class="nav-item">
		 <a class="nav-link" href="#!accounts">
			 <i class="fas fa-fw fa-table"></i>
			 <span>Accounts</span></a>
	 </li>
	 <li class="nav-item">
		 <a class="nav-link" href="#!comments">
			 <i class="fas fa-fw fa-table"></i>
			 <span>Comments</span></a>
	 </li>
	<!-- Nav Item - Tables -->
	<!-- <li class="nav-item">
		<a class="nav-link" href="#!history">
			<i class="fas fa-fw fa-table"></i>
			<span>history</span></a>
	</li> -->
	 <!-- Nav Item - Tables -->
	 <li class="nav-item" th:if="${#request.isUserInRole('STAF')}">
		<a class="nav-link" href="#!authorize">
			<i class="fas fa-fw fa-table"></i>
			<span>Authorize</span></a>
	</li>
	 <!-- Nav Item - Tables -->
	<!--  <li class="nav-item" th:if="${#request.isUserInRole('STAF')}">
		<a class="nav-link" href="#!revenue">
			<i class="fas fa-fw fa-table"></i>
			<span>revenue</span></a>
	</li>
	 -->
	 <li class="nav-item">
		 <a class="nav-link" href="#!product">
			 <i class="fas fa-fw fa-table"></i>
			 <span>Products</span></a>
	 </li>
	 
	 <!-- Divider -->
	
</ul>