<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/layout.html::dynamic(~{::title}, ~{::body})}">
<head>
<title>Solana Pay</title>
<meta charset="utf-8" />
</head>
<body>
	<div id="carouselExampleCaptions" class="carousel slide">
		<div class="carousel-indicators">
			<button type="radio" data-bs-target="#carouselExampleCaptions"
				data-bs-slide-to="0" class="active" aria-current="true"
				aria-label="Slide 1"></button>
			<button type="radio" data-bs-target="#carouselExampleCaptions"
				data-bs-slide-to="1" aria-label="Slide 2"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active site-blocks-cover">
				<div class="site-blocks-cover"
					style="background-image: url('images/anh1.png')">
					<div class="row align-items-md-center justify-content-end">
						<div class="col-md-6 text-begin pt-6">
							<p
								style="color: white; font-size: 50px; top: 2px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
								Solana Pay is approved in Viet Nam</p>
							<div class="intro-text text-center text-md-left">
								<p class="mt-4">
									<a href="/login" class="btn btn-sm btn-dark">log in</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="carousel-item site-blocks-cover">
				<div class="site-blocks-cover"
					style="background-image: url('images/anh2.png')">
					<div class="row align-items-md-center justify-content-begin">
						<div class="col-md-8 text-begin pt-6">
							<p
								style="color: whitesmoke; font-size: 45px; top: 2px; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
								The new way to Pay <a href="/register.html"
									class="btn btn-sm btn-dark">Sign up</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button"
			data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button"
			data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span> <span
				class="visually-hidden">Next</span>
		</button>
	</div>

	<div class="title">
		<p>
			Have a query? <a href="#" style="text-decoration: none">Click
				here</a>
		</p>
	</div>

	<section id="A2"
		class="panels theme-background-color-white simple-panels-accordion center"
		data-building-block="organism">
		<div class="container">
			<div class="row text-xs-center panels__header">
				<div class="col-xs-12">
					<h2 class="pypl-heading panels__headline headline">Pay with
						peace of mind</h2>
				</div>
			</div>
			<div class="panels__container">
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
						<div class="icon-panel">
							<div class="justify-content-center align-items-center">
								<img
									src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/no-fee75x75.svg"
									alt="No Hidden Fees" class="icon-panel__image" />
								<h3
									class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
									No Hidden Fees</h3>
								<p class="icon-panel__paragraph">
									It <a style="text-decoration: none"
										href="https://www.paypal.com/vn/webapps/mpp/paypal-fees"
										data-pa-click="paragraph|costs nothing" pa-marked="1">costs
										nothing</a> to pay with PayPal, you'll only be charged a fee when
									you sell something or request a payment.
								</p>
							</div>
							<div class="icon-panel__bottom"></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
						<div class="icon-panel">
							<div class="icon-panel__top">
								<img
									src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/credit_card75x75.svg"
									alt="Earn Rewards" class="icon-panel__image" />
								<h3
									class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
									Earn Rewards</h3>
								<p class="icon-panel__paragraph">We work with local and
									overseas banks so you can use your preferred card/s and
									continue earning rewards.</p>
							</div>
							<div class="icon-panel__bottom"></div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 panels__panel">
						<div class="icon-panel">
							<div class="icon-panel__top">
								<img
									src="https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/VN/optimized/logos/buyer_protection75x75.svg"
									alt="Always Protected" class="icon-panel__image" />
								<h3
									class="pypl-heading icon-panel__headline pp-sans-small-regular h4">
									Always Protected</h3>
								<p class="icon-panel__paragraph">
									Shopping with PayPal is <a style="text-decoration: none"
										href="https://www.paypal.com/vn/webapps/mpp/paypal-safety-and-security"
										data-pa-click="paragraph|safer" pa-marked="1">safer</a> with <a
										style="text-decoration: none"
										href="https://www.paypal.com/vn/webapps/mpp/paypal-buyer-protection"
										data-pa-click="paragraph|Buyer Protection" pa-marked="1">Buyer
										Protection,</a> 24/7 anti-fraud monitoring and world class
									security.
								</p>
							</div>
							<div class="icon-panel__bottom"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="A4"
		class="editorial theme-background-image-dark custom-hero-editorialone"
		data-building-block="organism"
		style="background-image: url('https://www.paypalobjects.com/digitalassets/c/website/marketing/apac/shared/home/optimized/editorial-buyer-protection.jpg'); background-position: 9% center; height: 300px; width: auto;">
		<div class="container">
			<div class="row " style="margin: 0 auto; padding-top: 50px;">
				<div
					class="col-xs-12 col-md-6 editorial__container editorial__text text-xs-center text-md-left">
					<h2 class="pypl-heading editorial__headline text-white">Less
						worrying, more shopping</h2>
					<p class="editorial__paragraph text-white">Shop and pay with
						PayPal and not only will you never have to worry about security,
						you'll also get to enjoy exclusive PayPal deals at your favourite
						stores.</p>
					<p class="editorial__hatch-text">
						<a style="text-decoration: none; color: aliceblue;"
							href="https://www.paypal.com/vn/webapps/mpp/online-shopping"
							data-pa-click="hatchText|Shop more deals now" pa-marked="1">Shop
							more deals now</a>
					</p>
				</div>
				<div
					class="col-md-6 hidden-sm-down text-xs-center editorial__container editorial__device-image"></div>
			</div>
		</div>
	</section>
</body>
</html>
