<!DOCTYPE html>
<html th:replace="~{/layout/layout2.html::dynamic(~{::title}, ~{::body})}"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Solana Personaly</title>
    <meta charset="utf-8">
</head>
<body class="custom-body-style">
<div class="container">
    <div class="card-single" style="background-color: #111111;">
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <img alt="" class="img" th:src="@{|/images/${prod.image}|} ">
                </div>
                <div class="col-md-8">
                    <div class="text" th:text="${prod.name}">

                    </div>
                    <div class="price">
                        <div class="price1" th:text="${prod.price}">
                        </div>

                    </div>
                    <span class="quantity">Quantity: </span>
                    <input class="mt-3" min="1"
                           name="count" ng-init="quantity = 1" ng-model="quantity" style="width: 60px;"
                           type="number"/>
                    <div class="sale">
                        <div class="title">
                            Promotion :
                        </div>
                        <div class="content">
                            Buy from 100 products: 0.1$
                        </div>
                    </div>
                    <div class="pay">
                        <a class="mt-3 mb-3 add-to-cart btn btn-sm btn-primary"
                           ng-click="saveToLocalStorage()" style="color: white"
                           th:attr="ng-click=@{|cart.add(${prod.id})|}">Add To
                            Cart</a>
                        <a class="mt-3 mb-3 buy-now btn btn-sm btn-primary" ng-click="cart.add(1)"
                           style="color: white">Buy Now</a>
                        <a class="mt-3 mb-3 continue-shopping btn btn-sm btn-primary" ng-click="cart.add(1)"
                           style="color: white">Continue Shopping</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="card-more">
        <div class="card-body-more">
            <div class="text">
                Other Products
            </div>
            <div class="row">
                <div class="col-md-3">
                    <a href="duong-dan-trang-can-chuyen-huong.html">
                        <img alt=""
                             class="img-more" src="https://static.vecteezy.com/system/resources/previews/003/450/395/original/solana-coin-banner-sol-coin-cryptocurrency-concept-banner-background-vector.jpg">
                        <div class="name">
                            Product 2
                        </div>
                        <div class="price-more">
                            0.1$
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="duong-dan-trang-can-chuyen-huong.html">
                        <img alt="" class="img-more"
                             src="https://www.playtoearn.online/wp-content/uploads/2022/03/Solana_banner.jpg">
                        <div class="name">
                            Product 3
                        </div>
                        <div class="price-more">
                            0.1$
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="duong-dan-trang-can-chuyen-huong.html">
                        <img alt=""
                             class="img-more" src="https://static.vecteezy.com/system/resources/previews/003/450/395/original/solana-coin-banner-sol-coin-cryptocurrency-concept-banner-background-vector.jpg">
                        <div class="name">
                            Product 4
                        </div>
                        <div class="price-more">
                            0.1$
                        </div>
                    </a>
                </div>
                <div class="col-md-3">
                    <a href="duong-dan-trang-can-chuyen-huong.html">
                        <img alt="" class="img-more"
                             src="https://www.playtoearn.online/wp-content/uploads/2022/03/Solana_banner.jpg">
                        <div class="name">
                            Product 5
                        </div>
                        <div class="price-more">
                            0.1$
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


</div>
<div class="container">
    <div class="container my-5">
        <h2 style="color: white">Comments</h2>
        <form action="/shop.html/addComments" method="post">
            <input class="form-control mb-3" name="productId" th:value="${prod.id}"
                   type="hidden"/>
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" id="comment" name="description"
                          required rows="4"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>

        <div id="comments-container">
            <div class="card-cmt my-3 border-0" style="background-color: #111111;color: white"
                 th:each="cmt, iterStat : ${comment}" th:if="${iterStat.index < 20}">
                <div class="card-body-cmt comment-body">
                    <div class="row">
                        <div class="col-md-1">
                            <img alt="User"
                                 class="img-fluid rounded-circle comment-user-img" th:src="@{|/images/${cmt.account.photo}|}">
                        </div>
                        <div class="col-md-11">
                            <h5 class="comment-user-name" th:text="${cmt.account.fullname}"></h5>
                            <p class="comment-date"
                               th:text="${#dates.format(cmt.create_Date, 'dd-MM-yyyy')}"></p>
                            <p class="comment-description" th:text="${cmt.description}"></p>

                            <button class="btn btn-secondary btn-sm mt-2 reply-btn"
                                    data-comment-id="${cmt.id}">Reply
                            </button>
                            <div class="reply-form card-cmt border-0"
                                 data-comment-id="${cmt.id}" >
                                <form action="/shop.html/replyComments" method="post"
                                      onsubmit="hideOtherReplyForms('replyForm-${cmt.id}')">
                                    <input class="form-control mb-3" name="productIdReply"
                                           th:value="${prod.id}" type="hidden"/> <input
                                        class="form-control mb-3" name="parentId" th:value="${cmt.id}"
                                        type="hidden"/>
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" name="descriptionReply"
                                                  required rows="4"></textarea>
                                    </div>
                                    <button class="btn btn-primary" type="submit">Submit</button>
                                </form>
                            </div>

                            <!-- Display replies -->
                            <div class="replies-container-${cmt.id}">
                                <div class="card-cmt my-3 reply-card-cmt border-0"
                                     th:each="rpl : ${reply}"
                                     th:if="${rpl.comment.id} == ${cmt.id}">
                                    <div class="card-body-cmt " style="background-color: #111111;color: white">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img alt="User"
                                                     class="img-fluid rounded-circle reply-user-img"
                                                     th:src="@{|/images/${rpl.account.photo}|}">
                                            </div>
                                            <div class="col-md-11">
                                                <h5 class="reply-user-name"
                                                    th:text="${rpl.account.fullname}"></h5>
                                                <p
                                                        class="reply-date"
                                                        th:text="${#dates.format(rpl.create_date, 'dd-MM-yyyy')}"></p>
                                                <p class="reply-description" th:text="${rpl.description}"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- MDB -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.0.0/mdb.umd.min.js"
        type="text/javascript"></script>
<script
        src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js"></script>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".reply-btn").click(function () {
            var commentId = $(this).data('comment-id');
            $('.reply-form').hide();
            $(this).siblings('.reply-form').show();
        });
    });
</script>
</body>
</html>